/* Estilizando página contatos */

/* Estilizando o banner  */
#boxBanner{
    width: 100%;
    height: 70vh;
    background-color: #F06292;
    color: #FFFF;
    background-image: url('../../../public//bannerRostoMassagem.png');
    background-size: cover;
    

    display: flex;
    justify-content: center;
    align-items: center;
    
    & h1{
        font-size: 42px;
    }
}


#boxTextoBanner{
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0, 0.2);
    padding: 30px;
}


#boxBase{
    padding: 50px;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content:space-around;
    align-items:flex-start;

}

#boxFaleComigo{
    width: 300px;
    padding-bottom: 30px;

    text-align: center;


}

#imgBoxFaleComigo{
    width: 100%;
    height: auto;
}


#boxForm{
    border: solid 1px gray;
    width: 500px;
    height: 500px;
    text-align: center;

    display:flex;
    flex-direction: column;
    gap: 10px;

    justify-content: space-around;
    align-items: center;
    
}

#boxZap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 32px;
}

.icons{
    font-size: 100px;
}
