/* Estilizando página contatos */

/* Estilizando o banner  */
#sectionBanner{
    width: 100%;
    height: 70vh;
    background: url('../../../public/bannerRostoMassagem.png') fixed ;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

#boxTextoBanner{
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0, 0.2);
    padding: 30px;
}


#boxBase{
    padding: 50px;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content:space-around;
    align-items:flex-start;

}

#boxFaleComigo{
    width: 300px;
    padding-bottom: 30px;

    text-align: center;
}

#imgBoxFaleComigo{
    width: 100%;
    height: auto;
}

#boxForm{
    width: 500px;
    height: 500px;
    text-align: center;

    display:flex;
    flex-direction: column;
    gap: 10px;

    justify-content: space-around;
    align-items: center;
    
}

#boxTexto{
    & h2{
        padding: 10px;
    }
    & p{
        padding: 10px;
    }
}

#boxZap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 32px;
}

.icons{
    font-size: 100px;
}

/* Estilizando Mapa */

#containerMapa{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    & h3{
        max-width: 1024px;
        padding: 10px;
    }
}

.mapa{
    border: solid 3px black;
}


/* Área de Responsividade */

/* Smartphones menores */
@media (max-width: 480px) {

    /* Estilizando a sectionBanner */

    #sectionBanner{
        background-attachment: scroll;
        background-position: center;
    }
}