/* Seção Banner */


/* Div bannerImagem */
#bannerImagem{
    width: 100%;
    height: 350px;
    background: url('../../../public/bannerSobre.png') center;
}

.boxTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0,0,0, 0.65);
    width: 100%;
    height: 100%;
    & h1 {
        font-size: 50px;
    }
}

/* Div bannerTexto  */
#bannerTexto{
    width:  100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    & h2 {
        font-size: 35px;
    }

    & p{
        font-size: 18px;
        color: gray;
    }
}

/* Div textoSobre */

#textoSobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

#imgBox{
    width: 397px;
    
    }

#boxTextoSobre{
    width: 450px;
    & h3{
        text-align: center;
        padding: 10px;
        font-size: 30px;
    }
    & h4{
        text-align: center;
        padding: 10px; 
    }
        
    & p{
        padding: 10px;
        text-align: justify;
        color: gray;
    }
}

/* Secão comoTrabalhamos */

/* divComoTrabalhamos*/
#divComoTrabalhamos{
    width: 100%;
    padding: 50px;
    margin-top: 100px;
    background-color: palevioletred;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    & h3 {
        font-size: 30px;
        padding: 15px;
    }
}

/* boxCards */

#boxCards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 400px;
    align-items: center;
    text-align: center;

    & h4 {
        font-weight: bold;
        font-size: 18px;
        padding: 20px;
    }
    
}

.icon{
    font-size: 100px;
    
}

/* Área de Responsividade */

/* Smartphones menores */
@media (max-width: 480px) {
    .boxTexto{
        
        & h1 {
            font-size: 35px;
        }
    }
    /* Div bannerTexto  */
    #bannerTexto{
    
        & h2 {
            font-size: 25px;
        }

        & p{
            font-size: 14px;
            color: gray;
        }
    }

    #imgBox{
        width: 300px;
        height: auto;
        
    }

    #boxTextoSobre{
        width: 300px;
        & h3{
            font-size: 20px;
        }
        
    }

    .card{
        gap:10px;
        width: 300px;
        justify-content: center;
        & h4 {
            
            font-size: 14px;
            padding: 10px;
        }
        
    }
    
    .icon{
        font-size: 50px;
        
    }

}