#rodape {
    width: 100%;
    padding: 100px 50px 10px 50px;
    color: gray;
    text-align: center;
    
}

#copy{
    text-align: center;
    margin-top: 50px;
}

#imgLogo {
    height: 80px;
    width: auto;
    border-radius: 15px;
    margin-bottom: 5px;
}

.link{
    text-decoration: none;
    padding: 10px;
    color: gray;
    &:hover{
        background-color: palevioletred;
        color: whitesmoke;
        cursor: pointer;
    }
}

.icons{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#containerCards{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    
}

.card {
    width: 200px;
    flex-grow: 1;
        
    display: flex;
    flex-direction: column;

    & h4{
        margin-bottom: 5px;
        color: #000;
    }
    & p{
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 25px;
    }

}

/* Área de Responsividade */

/* Smartphones menores */
@media (max-width: 480px) {
    #imgLogo {
        width: 80%;
        

    }

    #containerCards{
        
        
    }


  }
  


