/* Estilizando o Topo */

#topo{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.imgLogo {
    height: 80px;
    width: auto;
    border-radius: 15px;
}

.navLink{
    display: flex;
    
}

.linkTopo{
    padding: 30px;
    text-decoration: none;
    font-size: 18px;
    color: purple;

    &:hover{
        background-color: pink;
        color: white;
        
    }
    &:focus{
        background-color: pink; 
        color: white;
    }
}

.telefone{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: purple;
}


/* Área de Responsividade */

/* Smartphones menores */
@media (max-width: 480px) {
    #topo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        margin-bottom: 50px;
        
    }
    .linkTopo{
        padding: 15px;
        font: 14px;
    }

    #boxTelefones{
        display: flex;
        gap: 20px;
    }

  }
