/* Estilizando o Topo */

#topo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.imgLogo {
    height: 80px;
    width: auto;
}

.navLink{
    display: flex;
    
}

.linkTopo{
    padding: 30px;
    text-decoration: none;
    font-size: 18px;
    color: purple;

    &:hover{
        background-color: pink;
        color: white;
        
    }
    &:focus{
        background-color: pink; 
    }
}