/* Estilizando a sectionBanner */
#sectionBanner{
    width: 100%;
    height: 100vh;
    background: url('../../public/bannerSorridenteV2.png') fixed ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boxTextoBanner{
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0, 0.2);
    padding: 30px;
}

/* Estilizando sectionFaixa */
#sectionFaixa{
    width: 100%;
    height: 100vh;   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px #F8bbd0;
}

/* Estilizando a sectionProcedimento*/
#sectionProcedimentos {
    width: 100%;
    min-height: 100vh;
    background-color: #F8bbd0;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.iconProcedimentos{
    font-size: 50px;
}
.cardParagrafo{
    color: #808080;
}
.card{
    background-color: #FFFF;
    width: 300px;
    height: 400px;
    padding: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    &:hover {
        cursor: pointer;
        color: #FFFF;
        background-color: #c2185b;
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgb(102, 43, 43);

        & p{
            color: #FFFF;
        }
    }
}

.cardLink{
    text-decoration: none;
    color: black;
}

/* Estilizando a sectionFaixaServicos */
#sectionFaixaServicos{
    width: 100%;
    height: 30vh;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:30px;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    
}
.linkFaixaServicos{
    text-decoration: none;
    font-size: 28px;
    color: black;
    border: solid 1px black;
    padding: 30px 50px;
    &:hover{
        color: #FFFF;
        background-color: #c2185b;
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgb(102, 43, 43);
    }
}

/* Estilizando a sectionBeneficios*/
#sectionBeneficios{
    width: 100%;
    min-height: 150vh;
    padding: 100px 50px;
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    & h3 {
        font-size: 32px;
    }
    & h4{
        font-size: 24px;
        margin-top: 20px;
    }
    & p{
        font-size: 18px;
        color: #808080;
    }
}

.boxBeneficios{
    width: 400px;
    padding: 5px;
    & li {
        list-style-type:upper-roman;
        font-size: 18px;
        color: #808080;
    }
}
.spanBeneficios{
    font-weight: bold;
}
.imgBeneficios{
    width: 100%;
    height: auto;
}

/* Estilizando a sectionFaleConosco*/
#sectionFaleConosco{
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    background-color: #c2185b;
    color: #FFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    & h4{
        margin-bottom: 20px;
    }
    & p{
        font-size: 42px;
    }
}
.linkFaleConosco{
    color: #FFFF;
    text-decoration: none;
}
.link{
    text-decoration: none;
    font-size: 32px;
    color: #FFFF;
    border: solid 1px #FFFF;
    padding: 30px 100px;
    &:hover{
        font-size: bold;
        background-color: #FFFF;
        color: #c2185b;
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgb(102, 43, 43);
    }
}

/* ***************** Área de Responsividade ************************* */
/* Smartphones menores */
@media (max-width: 480px) {

    /* Estilizando a sectionBanner */
    #sectionBanner{
        background-attachment: scroll;
        background-position: center;
    }
    
    /* Estilizando a sectionProcedimento*/
    #sectionProcedimentos {
        padding-top: 100px;
        padding-bottom: 100px;  
    }
    
    /* Estilizando sectionFaixa */
    #sectionFaixa{
        font-size: 16px;
        height: 70vh;
    }

    /* Estilizando a sectionFaixaServicos */
    #sectionFaixaServicos{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* Estilizando a sectionFaleConosco*/
    #sectionFaleConosco{
        min-height: 70vh;
        gap: 20px;
        & p{
            font-size: 24px;
        }
    }

    .link{
        font-size: 18px;
        padding: 15px 30px;
    }
}

/* Dispositivos móveis (smartphones) em modo retrato */
@media (max-width: 600px) {
    /* Estilizando a sectionFaleConosco*/
    .link{
        font-size: 18px;
        padding: 15px 30px;
    }
}

/* Dispositivos móveis (smartphones) em modo paisagem */
@media (min-width: 601px) and (max-width: 768px) {
    /* Estilizando a sectionFaleConosco*/
    .link{
        font-size: 18px;
        padding: 15px 30px;
    }
}

/* Tablets e telas maiores */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Futura atualização */
}